<nav class="navbar navbar-expand-lg bg-light navbar-custom">
  <div class="d-flex justify-content-between w-100">
    <div class="header-left d-flex justify-content-start">
      <a class="navbar-brand" href="#">Recipe Book</a>
      <ul class="navbar-nav">
        <div class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/recipe"
            >Recipe</a
          >
        </div>
        <div class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/shoppinglist"
            >Shopping</a
          >
        </div>
      </ul>
    </div>

    <div class="header-right">
      <div appDropdown class="dropdown">
        <a
          class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Manage
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <a class="dropdown-item" style="cursor: pointer" (click)="onSave()"
              >Save Data</a
            >
          </li>
          <li>
            <a class="dropdown-item" style="cursor: pointer" (click)="onFetch()"
              >Fetch Data</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
